<ul class="nav  nav-lg  pb-2 pt-2" style="background-color:rgb(220,220,220)" >

 <li class="nav-item" *ngIf="!loginInfo().isLogiran" style="background-color: rgb(180,180,180)">
    <a class="nav-link " routerLink="/login" routerLinkActive="active">Login</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/pocetna" routerLinkActive="active">Pocetna</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/oprema" routerLinkActive="active">Oprema</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isPremisijaAdmin">
    <a class="nav-link " routerLink="/korisnici" routerLinkActive="active">Korisnici</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/shop" routerLinkActive="active">Shop</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/poruke" routerLinkActive="active">Poruke</a>
  </li>
  <li class="nav-item" *ngIf="loginInfo().isLogiran">
    <a class="nav-link " routerLink="/forum" routerLinkActive="active">Forum</a>
  </li>
  <div class="dropdown" *ngIf="loginInfo().isLogiran">
    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Profil
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" routerLink="/postavke-profila">Postavke profila</a></li>
      <li><a class="dropdown-item" (click)="odjava()">Odjava</a></li>
    </ul>
  </div>
</ul>
<div class="container">

  <router-outlet></router-outlet>
</div>

