<br>
<div class="narudzba">
  <div class="forma">
    <h4>1. Unesite podatke za dostavu</h4>
    <form [formGroup]="validationForm" (ngSubmit)="onSubmit()">
      <div class="col">
        <div class="col-md-6">
          <mdb-form-control>
            <label mdbLabel class="form-label" for="form1">Ime</label>
            <input
              mdbValidate
              mdbInput
              type="text"
              id="form1"
              class="form-control"
              formControlName="ime"
              required
            [(ngModel)]="polje1"/>
            <mdb-error *ngIf="ime?.invalid && (ime?.dirty || ime?.touched)">Potrebno je upisati ime</mdb-error>
          </mdb-form-control>
        </div>
        <div class="col-md-6">
          <mdb-form-control>
            <label mdbLabel class="form-label" for="form2">Prezime</label>
            <input
              mdbValidate
              mdbInput
              type="text"
              id="form2"
              class="form-control"
              formControlName="prezime"
              required
              [(ngModel)]="polje2"/>
            <mdb-error *ngIf="prezime?.invalid && (prezime?.dirty || prezime?.touched)">Potrebno je upisati prezime</mdb-error>
          </mdb-form-control>
        </div>
        <div class="col-md-6">
          <mdb-form-control>
            <label mdbLabel class="form-label" for="form1">Država</label>
            <input
              mdbValidate
              mdbInput
              type="text"
              id="form3"
              class="form-control"
              formControlName="drzava"
              required
              [(ngModel)]="polje3"/>
            <mdb-error *ngIf="drzava?.invalid && (drzava?.dirty || drzava?.touched)">Potrebno je upisati državu</mdb-error>
          </mdb-form-control>
        </div>
        <div class="col-md-6">
          <mdb-form-control>
            <label mdbLabel class="form-label" for="form2">Grad</label>
            <input
              mdbValidate
              mdbInput
              type="text"
              id="form4"
              class="form-control"
              formControlName="grad"
              required
              [(ngModel)]="polje4"/>
            <mdb-error *ngIf="grad?.invalid && (grad?.dirty || grad?.touched)">Potrebno je upisati grad</mdb-error>
          </mdb-form-control>
        </div>
        <div class="col-md-6">
          <mdb-form-control>
            <label mdbLabel class="form-label" for="form1">Adresa</label>
            <input
              mdbValidate
              mdbInput
              type="text"
              id="form5"
              class="form-control"
              formControlName="adresa"
              required
              [(ngModel)]="polje5"/>
            <mdb-error *ngIf="adresa?.invalid && (adresa?.dirty || adresa?.touched)">Potrebno je upisati adresu</mdb-error>
          </mdb-form-control>
        </div>
        <div class="col-md-6">
          <mdb-form-control>
            <label mdbLabel class="form-label" for="form2">Poštanski broj</label>
            <input
              mdbValidate
              mdbInput
              type="text"
              id="form6"
              class="form-control"
              formControlName="postanskiBroj"
              required
              [(ngModel)]="polje6"/>
            <mdb-error *ngIf="postanskiBroj?.invalid && (postanskiBroj?.dirty || postanskiBroj?.touched)">Potrebno je upisati postanski broj</mdb-error>

          </mdb-form-control>
        </div>
        <div class="col-md-6">
          <mdb-form-control>
            <label mdbLabel class="form-label" for="form1">Email</label>
            <input
              mdbValidate
              mdbInput
              type="text"
              id="form7"
              class="form-control"
              formControlName="email"
              required
              [(ngModel)]="polje7"/>
            <mdb-error *ngIf="email?.invalid && (email?.dirty || email?.touched)">Potrebno je upisati email</mdb-error>
          </mdb-form-control>
        </div>
        <div class="col-md-6">
          <mdb-form-control>
            <label mdbLabel class="form-label" for="form2">Kontakt broj telefona</label>
            <input
              mdbValidate
              mdbInput
              type="text"
              id="form8"
              class="form-control"
              formControlName="telefon"
              required
              [(ngModel)]="polje8"/>
            <mdb-error *ngIf="telefon?.invalid && (telefon?.dirty || telefon?.touched)">Potrebno je upisati broj telefona</mdb-error>
          </mdb-form-control>
        </div>
      </div>
      <button type="submit" class="btnNaruci" (click)="naruci()">NARUČI</button>
    </form>

  </div>


<div id="desni">
  <div class="dostava">
    <h4>2. Odaberite način dostave</h4>
    <div class="form-check" *ngFor="let d of dostavljaci">
      <input
        mdbRadio
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="flexRadioDefault1"
        (click)="preuzmiID(d.id)"
      />
      <label class="form-check-label" for="flexRadioDefault1"> {{d.naziv}} </label>
    </div>
  </div>

  <div class="placanje">
    <h4>3. Način plaćanja</h4>
    <p>Isključivo gotovinom prilikom preuzimanja paketa</p>
  </div>

  <div class="sadrzajKorpe">
   <!-- <a href="#" class="link-warning" (click)="prikaziSadrzaj()">PRIKAŽI SADRŽAJ KORPE</a>-->
    <div *ngIf="korpaObject!=null">
      <h2>Moja korpa</h2>
      <div class="mojaKorpa" *ngFor="let k of this.korpaObject">
        <img [src]="k.slika" alt="..." style="height:170px" width="150px">
        <div class="sadrzaj">
          <h5 class="list-group-item">{{k.nazivProizvoda}} - {{k.jedinicnaMjera}}g</h5>
          <p class="list-group-item">Količina: {{k.kolicina}} </p>
          <p class="list-group-item">Cijena: {{k.cijenaPopust}} KM</p>
        </div>
      </div>
      <div class="zaPlatiti">
        <p>Proizvodi: {{this.cijena2}} KM</p>
        <p>Popust: -{{this.popust2}} KM</p>
        <p>Dostava: {{this.cijenaDostave}} KM</p>
        <p style="font-weight: bold">Ukupno za platiti: {{this.ukupno2}} KM</p>
      </div>
      <button type="button" class="btn btn-light" routerLink="/proizvodi">UREDI SADRŽAJ KORPE</button>
  </div>

</div>
</div>
</div>
