#karusel_1, #karusel_2, #karusel_3
{
  padding-top: 20px;
  width: 100%;
  height: 750px;
}

img{
  width: 100%;
  height: 750px;
  opacity: 30%;
}

p{
  color: black;
  font-family: "Roboto Light";
  font-size: 12mm;
  margin-bottom: 220px;
}

span
{
  font-style: inherit;
  font-size: 18mm;
}

body
{
  margin: 0px;
}
