
<h1 *ngIf="loginInfo().isPremisijaAdmin" class="text-decoration-underline text-align-center text-center mt-3 mb-3">Dobro dosli <span class="text-warning">{{loginInfo().autentifikacijaToken.korisnickiNalog.korisnickoIme}}</span> na FitVision</h1>
<app-admin *ngIf="loginInfo().isPremisijaAdmin"></app-admin>


<mdb-carousel [controls]="true" [indicators]="true" [dark]="true" id="karusel" *ngIf="loginInfo().isPremisijaKorisnik">
  <mdb-carousel-item id="karusel_1" routerLink="/oprema">
    <img
      src="assets/oprema.jpg"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block" style="padding-bottom: 20px">
      <p>FITVision <br> <span> OPREMA </span></p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item id="karusel_2" routerLink="/shop">
    <img
      src="assets/proteins.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <p>FITVision <br> <span> SHOP </span></p>
    </div>
  </mdb-carousel-item>
  <mdb-carousel-item id="karusel_3" routerLink="/forum">
    <img
      src="assets/forum2.jpg"
      class="d-block w-100"
      alt="..."
    />
    <div class="carousel-caption d-none d-md-block">
      <p>FITVision <br> <span> FORUM </span></p>
    </div>
  </mdb-carousel-item>
</mdb-carousel>

