<div class="d-flex justify-content-end" *ngIf="loginInfo().isLogiran">
  <button class="btn btn-primary mb-4 mt-4" (click)="otvoriPoruku()">Nova poruka</button>
</div>

<!-- filteri
<div class="m-2">
  <div>
    <input [(ngModel)] ="filter_naslov"  type="checkbox"> Filter by <span style="font-weight: bold">Naslov</span> <br>
    <input  [(ngModel)]="naslov" [disabled]="!filter_naslov"><br>
  </div>
  <div *ngIf="loginInfo().isPremisijaAdmin">
    <input [(ngModel)]="filter_korisnik" type="checkbox" > Filter by <span style="font-weight: bold">Korisnik</span> <br>
    <input  [(ngModel)]="korisnik_naziv" [disabled]="!filter_korisnik"><br>
  </div>
</div>
-->

<ul class="nav  nav-lg  pb-2 pt-2" *ngIf="loginInfo().isPremisijaKorisnik">
  <li class="nav-item" (click)="ucitajNovosti()">Novosti</li>
  <li class="nav-item" (click)="ucitajZasebnoKorisnik()"> Poslano</li>
</ul>

<ul class="nav  nav-lg  pb-2 pt-2" *ngIf="loginInfo().isPremisijaAdmin">
  <li class="nav-item" (click)="ucitajPorukeZaAdmina()">Nove poruke</li>
  <li class="nav-item" (click)="ucitajZasebnoAdmin()"> Poslano</li>
</ul>
<!-- poslano admin -->
<div id="poruke-hub-admin " class="mt-4" *ngIf="loginInfo().isPremisijaAdmin && poslanoAdmin!=null">
  <div *ngFor="let p of poslanoAdmin" >
    <div style="background-color: rgba(169,169,255,0.49)">
      <h5>{{p.korisnik}}</h5>
      <p style="font-style: italic">{{p.datum_kreiranja}}</p>
      <p style="font-size: 5mm">{{p.sadrzaj}}</p>
      <button class="btn btn-warning" (click)="otvoriOdgovore(p)">Otvori</button>
      <button class="btn btn-danger ms-2" (click)="obrsisiPoruku(p)">Ukloni</button>
    </div>
  </div>
</div>
<!-- poruke za admina -->
<div id="poruke-hub-admin2 " class="mt-4" *ngIf="loginInfo().isPremisijaAdmin && poslanoKorisnik!=null && poslanoAdmin==null">
  <div *ngFor="let p of poslanoKorisnik" >
    <div style="background-color: rgba(169,169,255,0.49)">
      <h5>{{p.sadrzaj}}</h5>
      <p style="font-size: 5mm">- {{p.korisnik}}, <span style="font-style: italic; font-size: 4mm">{{p.datum_kreiranja}} </span></p>
      <button class="btn btn-warning" (click)="otvoriOdgovore(p)">Otvori</button>
      <button class="btn btn-danger ms-2" (click)="obrsisiPoruku(p)">Ukloni</button>
    </div> <br>
  </div>
</div>

<!-- poslano korisnik -->
<div id="poruke-hub-admin" class="mt-4" *ngIf="loginInfo().isPremisijaKorisnik && poslanoKorisnik!=null" >
  <div *ngFor="let p of poslanoKorisnik" >
    <div style="background-color: rgba(169,169,255,0.49)">
      <h5>{{p.korisnik}}</h5>
      <p style="font-style: italic">{{p.datum_kreiranja}}</p>
      <p style="font-size: 5mm">{{p.sadrzaj}}</p>
      <button class="btn btn-warning" (click)="otvoriOdgovore(p)">Otvori</button>
      <button class="btn btn-danger ms-2" (click)="obrsisiPoruku(p)">Ukloni</button>
    </div>
  </div>
</div>
<!-- novosti za korisnika -->
<div id="poruke-hub" class="mt-4" *ngIf="loginInfo().isPremisijaKorisnik && poslanoAdmin!=null" >
  <div *ngFor="let p of poslanoAdmin" >
    <div style="background-color: rgba(169,169,255,0.49)">
      <h5>{{p.sadrzaj}}</h5>
      <p style="font-size: 5mm">- {{p.korisnik}}, <span style="font-style: italic; font-size: 4mm">{{p.datum_kreiranja}} </span></p>
      <button id="detalji" (click)="otvoriOdgovore(p)">Više detalja</button>
    </div>
  </div>
</div>

<div *ngIf="porukaObject!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel"> Nova poruka </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="porukaObject=null"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <textarea rows="3" class="form-control"  [(ngModel)]="porukaObject.sadrzaj"></textarea>


          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="porukaObject=null">Close</button>
            <button type="button" class="btn btn-primary" (click)="dodajPitanje()">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





