

<div *ngIf="porukaOdgovori!=null">
  <div class="w-100 bg-info m-2 p-2" >
    <h5>{{porukaOdgovori.korisnicki_nalog.korisnickoIme}}</h5>
    <p style="font-style: italic">{{porukaOdgovori.datum_kreiranja}}</p>
    <p style="font-size: 5mm">{{porukaOdgovori.sadrzaj}}</p>
    <button class="btn btn-warning" *ngIf="loginInfo().isPremisijaAdmin" (click)="odgovori()">Odgovori</button>
  </div>
  <div class="w-100 bg-secondary m-2 p-2 text-white" *ngFor="let o of porukaOdgovori.odgovori">
    <h5>{{o.admin_name}}</h5>
    <p style="font-style: italic">{{o.datum_kreiranja}}</p>
    <p style="font-size: 5mm">{{o.sadrzaj}} </p>
    <button class="btn btn-danger" (click)="obrisiOdgovor(o)" *ngIf="o.admin_name==loginInfo().autentifikacijaToken.korisnickiNalog.korisnickoIme">Obrisi</button>

  </div>
</div>


<div *ngIf="odgovorObject!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel"> Novi odgovor </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="odgovorObject=null"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <label class="form-label">Odgovor</label>
          <textarea class="form-control" [(ngModel)]="odgovorObject.sadrzaj"></textarea>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="odgovorObject=null">Close</button>
            <button type="button" class="btn btn-primary" (click)="dodajOdgovor()">Dodaj</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
