.polje
{
  margin-top: 10px;
}

#detalji-proizvod
{
  margin-left: 70px;
  margin-top: 70px;
  width: 60%;
}

#sve
{
  display: flex;
  flex-direction: row;
  margin-left: 100px;
  margin-top: 50px;
}

