.btnNaruci{
  background-color: #ff855e;
  color: white;
  font-size: 20px;
  width: 250px;
  height: 50px;
  margin-top: 20px;
  border: none;
}

.mojaKorpa{
  display: flex;
  flex-direction: row;
}

.sadrzaj{
  width: 400px;
}

.list-group-item{
  border: none;
}

.zaPlatiti{
  background-color: #e5e3e3;
  width: 400px;
}

mdb-error
{
  color: red;
}
.narudzba
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
#desni
{
  display: flex;
  flex-direction: column;
}

.forma
{
  width: 60%;
}
