.proizvodi{
  display: flex;
  flex-direction: row;
}

.filteri{
  display: block;
  background-color:rgb(240,245,255);
  width: 188.44px;
  font-family: Tahoma;
}

.zaKorpu{
  display: flex;
  flex-direction: row;
}

.form-control{
  width: 60px;
  height: 35px;
  border: lightskyblue;
  margin-right: 30px;
  margin-left: 3px;
}

.btnKorpa {
  background-color: #ffad93;
  color: black;
  font-size: 25px;
  width: 230px;
  height: 50px;
  margin-left: 900px;
  border: none;
  font-family: Tahoma;
}

.mojaKorpa{
  display: flex;
  flex-direction: row;
  border: 3px solid #ffad93;
  height: 300px;
}

h5, p{
  border: none;
}

.sadrzaj{
  padding: 20px;
}

.zaKolicinu{
  display: flex;
  flex-direction: row;
}

.glavni{
  display: flex;
  flex-direction: row;
}

.zaPlatiti{
  padding-top: 50px;
  padding-left: 400px;
}

#btnKorpa img
{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

mdb-range
{
  color: grey;
}

.d-flex justify-content-around flex-wrap
{

}

