<button type="button" class="btnKorpa" (click)="prikaziSadrzaj()" *ngIf="loginInfo().isPremisijaKorisnik">
  <div id="btnKorpa"><img src="assets/shopping-cart.png"> KORPA </div></button>
<!-- sadrzaj korpe -->
<div *ngIf="korpaObject!=null" class="glavni">
  <div>
  <h2>Moja korpa</h2>
  <div class="mojaKorpa" *ngFor="let k of this.korpaObject">
    <img [src]="k.slika" alt="..." style="height:220px; padding-top: 50px"  width="250px">
    <div class="sadrzaj">
    <h5 class="list-group-item">{{k.nazivProizvoda}} - {{k.jedinicnaMjera}}g</h5>
      <div class="zaKolicinu">
      <p class="list-group-item">Količina:</p>
      <input class="form-control" type="number" [(ngModel)]="k.kolicina" (change)="izmijeniKolicinu(k.kolicina, k.korpaID, k.proizvodID)">
      </div>
      <div>
        <p>Cijena bez popusta: {{k.cijena}} KM</p>
      <p>Cijena sa popustom: {{k.cijenaPopust}} KM</p>
    <p style="color: grey">Popust: {{k.popust}}%</p>
      </div>
      <button type="button" class="btn btn-outline-danger" (click)="ukloniProizvod(k.proizvodID)"> X  UKLONI</button>
    </div>
    </div>
  </div>
  <div class="zaPlatiti">
    <p>Proizvodi: {{this.cijena2}} KM</p>
    <p>Popust: -{{this.popust2}} KM</p>
    <p>Dostava: 0KM</p>
    <p style="font-weight: bold">Ukupno za platiti: {{this.ukupno}} KM</p>
    <button type="button" class="btn btn-success" routerLink="/narudzba">Dovrši narudžbu</button>
  </div>

</div>
<hr class="hr hr-blurry"/>

<div class="proizvodi">
  <div class="filteri">
<div class="filter_naziv">
  <input [(ngModel)] = "filter_naziv" type="checkbox"> <span style="font-weight: bold"> Naziv proizvoda</span> <br>
  <input [(ngModel)]="naziv" [disabled]="!filter_naziv" style="width: 188.44px"><br>
  <hr>
</div>

<!-- checkbox (value umjesto ngModel kako se ne bi reflektovalo na sve) -->
<section class="example-section">

  <h4>Cijena (od - do):</h4>
  <mdb-range id="od" [(ngModel)]="this.od"></mdb-range>
  <mdb-range id="do" [(ngModel)]="this.do"></mdb-range>
</section>
<hr>
    <section class="example-section">
      <h4>Podkategorije:</h4>
     <!-- <div class="podkat" *ngFor="let p of podKategorije">
      <input [(ngModel)]= "filter_podkat" type="checkbox" (click)="podkatID=p.id" >
        <span> {{p.naziv}} </span> <br>
      </div>-->
      <div class="form-check" *ngFor="let p of podKategorije">
          <input type="checkbox" class="form-check-input" [(ngModel)]="p.podkat_jel_selektovan" (click)="podkatID=p.id">
        <label class="form-check-label">{{p.naziv}}</label>
      </div>
    </section>
  <hr>
  <section class="example-section">
    <h4>Brendovi:</h4>
    <!--<div class="podkat" *ngFor="let b of brendovi">
      <input [(ngModel)]= "filter_brend" type="checkbox" (click)="brendID=b.id" >
      <span> {{b.naziv}} </span> <br>
    </div>-->
    <div class="form-check" *ngFor="let b of brendovi">
      <input type="checkbox" class="form-check-input" [(ngModel)]="b.brend_jel_selektovan" (click)="brendID=b.id">
      <label class="form-check-label">{{b.naziv}}</label>
    </div>
  </section>
  </div>


<!--Proivodi prikaz-->
  <div class="d-flex justify-content-around flex-wrap" >

    <div *ngFor="let p of getProizvode()">
      <div class="card mb-3 ms-2 me-2" style="width: 18rem; background-color: rgb(240,240,240);" >
        <img [src]="p.slika" class="card-img-top" alt="..." style="height:220px" (click)="detaljno(p)">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">{{p.naziv}}</h5>
          <p style="font-family: Tahoma; font-size: 6mm"> {{p.jedinicna_cijena}} KM</p>
          <div class="zaKorpu" *ngIf="loginInfo().isPremisijaKorisnik">
          <input class="form-control" type="number" value=0 (change)="onKey($event)">
          <button class="btn btn-info mb-4" (click)="dodajUKorpu(p)">Dodaj u korpu</button>
          </div>
          <button  class="btn btn-warning" *ngIf="loginInfo().isPremisijaAdmin" (click)="urediFunc(p)"
          >Uredi</button>
          <button class="btn btn-danger float-end" *ngIf="loginInfo().isPremisijaAdmin" (click)="obrisiProizvod(p)">Obrisi</button>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--Modal dodaj proizvod-->
  <div *ngIf="proizvodObject!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLiveLabel">Dodaj proizvod </h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="proizvodObject=null"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <div *ngIf="proizvodObject.id!=0" >
              <label class="form-label">ID</label>
              <input class="form-control border w-100" type="text" [(ngModel)]="proizvodObject.id" disabled>
            </div>
            <label class="form-label">Naziv proizvoda</label>
            <input class="form-control border w-100" type="text" [(ngModel)]="proizvodObject.naziv">
            <label class="form-label">Jedinicna cijena</label>
            <input class="form-control border w-100" type="number" [(ngModel)]="proizvodObject.jedinicna_cijena">
            <label class="form-label">Jedinicna mjera</label>
            <input class="form-control border w-100" type="text" [(ngModel)]="proizvodObject.jedinicna_mjera">
            <label class="form-label">Zaliha</label>
            <input class="form-control border w-100" type="number" [(ngModel)]="proizvodObject.zaliha">
            <label class="form-label">Brend</label>
            <select class="form-control border w-100"  name="brendovi" [(ngModel)]="proizvodObject.brend_id">
              <option  *ngFor="let t of brendovi" [value]="t.id">{{t.naziv}}</option>
            </select>
            <label class="form-label">Potkategorija</label>
            <select class="form-control border w-100"  name="PotKategorija" [(ngModel)]="proizvodObject.pod_kategorija_id">
              <option  *ngFor="let p of podKategorije" [value]="p.id">{{p.naziv}}</option>
            </select>
            <label class="form-label">Sastav</label>
            <textarea class="form-control border w-100" rows="3" [(ngModel)]="proizvodObject.sastav" [(ngModel)]="proizvodObject.sastav"></textarea>
            <div >
              <label class="form-label">Odaberi sliku</label>
              <input type="file" class="form-control border w-100" (change)="ChosenFile($event)">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="proizvodObject=null">Close</button>
              <button type="button" class="btn btn-primary" (click)="snimiProizvod()">Snimi</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="mb-5 d-flex justify-content-end">
  <button class="btn btn-primary m-3 "
          *ngIf="loginInfo().isPremisijaAdmin" (click)="dodajFunc()" >Dodaj proizvod</button>
</div>

  <!--Modal detalji-->
  <div *ngIf="detaljiProizvod" class="modal fade show" id="exa" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog" >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampl">Detljne informacije </h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="detaljiProizvod=null"></button>
        </div>
        <div class="modal-body">
          <label class="form-label">Naziv</label>
          <input class="form-control border w-100" type="text" [value]="detaljiProizvod.naziv" disabled>
          <label class="form-label">Brend</label>
          <input class="form-control border w-100" type="text" [value]="detaljiProizvod.brend" disabled>
          <label class="form-label">Podkategorija</label>
          <input class="form-control border w-100" type="text" [value]="detaljiProizvod.pod_kategorija" disabled>
          <label class="form-label">Jedinicna mjera</label>
          <input class="form-control border w-100" type="text" [value]="detaljiProizvod.jedinicna_mjera + 'g'" disabled>

          <label class="form-label">Sastav</label>
          <textarea class="form-control border w-100" rows="4" [(ngModel)]="detaljiProizvod.sastav" disabled></textarea>
          <label class="form-label">Zaliha</label>
          <input class="form-control border w-100" type="text" [value]="detaljiProizvod.zaliha + ' kom.'" disabled>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="detaljiProizvod=null">Close</button>
        </div>
      </div>
    </div>
  </div>
