
<div class="  mt-5">
  <hr class="w-100">
  <div>
    <button class="btn btn-primary float-end mb-3 mt-3" (click)="dodajAkciju()">Dodaj akciju</button>
  </div>

  <hr class="w-100">
  <div *ngFor="let a of akcije" class="w-100"  >
    <h4 class="">{{a.naziv}}</h4>
    <p>Od: {{a.datum_pocetka}},     Do: {{a.datum_pocetka}}</p>
    <p>Iznos: {{a.iznos}} %</p>

    <div class="d-flex justify-content-around flex-wrap">

      <div *ngFor="let z of a.proizvodi">
        <div class="card mb-3" style="width: 18rem; background-color: rgb(240,240,240)">
          <img [src]="z.slika" class="card-img-top" alt="..." style="height:220px">
          <div class="card-body">
            <h5 class="card-title">{{z.naziv}}</h5>
            <p>Na zalihi: {{z.zaliha}} , Cijena: {{z.jedinicnaCijena}} KM</p>

          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>

<div>
  <input [(ngModel)] = "filter_naziv" type="checkbox"> Filter by <span style="font-weight: bold">Naziv proizvoda</span> <br>
  <input [(ngModel)]="naziv" [disabled]="!filter_naziv"><br>
  <hr>
</div>

  <div class="mb-5 d-flex justify-content-end">
    <button class="btn btn-primary m-3 "
            *ngIf="loginInfo().isPremisijaAdmin" (click)="dodajFunc()" >Dodaj proizvod</button>
  </div>

<!--Proivodi prikaz-->
  <div class="d-flex justify-content-around flex-wrap" >

    <div *ngFor="let p of getProizvode()">
      <div class="card mb-3" style="width: 18rem; background-color: rgb(240,240,240);">
        <img [src]="p.slika" class="card-img-top" alt="..." style="height:220px">
        <div class="card-body">
          <h5 class="card-title text-center mb-4">{{p.naziv}}</h5>
          <button class="btn mb-3" style="background-color:rgb(200,200,200) " (click)="detaljno(p)">Pogledaj detalje</button>
          <p>Na zalihi: {{p.zaliha}} , Cijena: {{p.jedinicna_cijena}} KM</p>
          <button  class="btn btn-warning" *ngIf="loginInfo().isPremisijaAdmin" (click)="urediFunc(p)"
          >Uredi</button>
          <button class="btn btn-danger float-end" *ngIf="loginInfo().isPremisijaAdmin" (click)="obrisiProizvod(p)">Obrisi</button>
        </div>
      </div>
    </div>





  <!--Modal dodaj proizvod-->
  <div *ngIf="proizvodObject!=null" class="modal fade show" id="exampleModalLive" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLiveLabel">Dodaj proizvod </h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="proizvodObject=null"></button>
        </div>
        <div class="modal-body">
          <div class="modal-body">
            <div *ngIf="proizvodObject.id!=0" >
              <label class="form-label">ID</label>
              <input class="form-control" type="text" [(ngModel)]="proizvodObject.id" disabled>
            </div>
            <label class="form-label">Naziv proizvoda</label>
            <input class="form-control" type="text" [(ngModel)]="proizvodObject.naziv">
            <label class="form-label">Jedinicna cijena</label>
            <input class="form-control" type="number" [(ngModel)]="proizvodObject.jedinicna_cijena">
            <label class="form-label">Jedinicna mjera</label>
            <input class="form-control" type="text" [(ngModel)]="proizvodObject.jedinicna_mjera">
            <label class="form-label">Zaliha</label>
            <input class="form-control" type="number" [(ngModel)]="proizvodObject.zaliha">
            <label class="form-label">Brend</label>
            <select class="form-control"  name="brendovi" [(ngModel)]="proizvodObject.brend_id">
              <option  *ngFor="let t of brendovi" [value]="t.id">{{t.naziv}}</option>
            </select>
            <label class="form-label">Potkategorija</label>
            <select class="form-control"  name="PotKategorija" [(ngModel)]="proizvodObject.pod_kategorija_id">
              <option  *ngFor="let p of podKategorije" [value]="p.id">{{p.naziv}}</option>
            </select>
            <label class="form-label">Sastav</label>
            <textarea class="form-control" rows="3" [(ngModel)]="proizvodObject.sastav" [(ngModel)]="proizvodObject.sastav"></textarea>
            <div >
              <label class="form-label">Odaberi sliku</label>
              <input type="file" class="form-control" (change)="ChosenFile($event)">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="proizvodObject=null">Close</button>
              <button type="button" class="btn btn-primary" (click)="snimiProizvod()">Snimi</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!--Modal detalji-->
  <div *ngIf="detaljiProizvod" class="modal fade show" id="exa" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampl">Detljne informacije </h5>
          <button type="button" class="btn-close" aria-label="Close" (click)="detaljiProizvod=null"></button>
        </div>
        <div class="modal-body">
          <label class="form-label">Brend</label>
          <input class="form-control" type="text" [value]="detaljiProizvod.brend" disabled>
          <label class="form-label">Potategorija</label>
          <input class="form-control" type="text" [value]="detaljiProizvod.pod_kategorija" disabled>
          <label class="form-label">Jedinicna mjera</label>
          <input class="form-control" type="text" [value]="detaljiProizvod.jedinicna_mjera" disabled>

          <label class="form-label">Sastav</label>
          <textarea class="form-control" rows="3" [(ngModel)]="detaljiProizvod.sastav" disabled></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="detaljiProizvod=null">Close</button>
        </div>
      </div>
    </div>
  </div>


<!--Modal dodaj akciju-->
<div *ngIf="akcijaObject!=null" class="modal fade show" id="exampleModalLive3" tabindex="-1" aria-labelledby="exampleModalLiveLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLiveLabel3">Nova akcija </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="akcijaObject=null"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <label class="form-label">Naziv</label>
          <input class="form-control" type="text" [(ngModel)]="akcijaObject.naziv">
          <label class="form-label">Iznos</label>
          <input class="form-control" type="number" [(ngModel)]="akcijaObject.iznos">
          <label class="form-label">Datum pocetka</label>
          <input class="form-control" type="date"  [(ngModel)]="akcijaObject.datum_pocetka">
          <label class="form-label">Datum zavrsetka</label>
          <input class="form-control" type="date"  [(ngModel)]="akcijaObject.datum_zavrsetka">
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="akcijaObject=null">Close</button>
            <button type="button" class="btn btn-primary" (click)="snimiAkciju()">Snimi</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
