a{
  color: black;
  border-bottom: 1px solid #9898ff;
  font-family: Tahoma;
}

span{
  font-family: "Times New Roman";
  font-size: 30px;
  color: dimgrey;
  font-style: italic;
}

.d-inline-block{
  display: flex;
  flex-direction: row;
}
.nav-item2{
  width: 100%;
}


.nav-link{
  font-size: 18px;
  margin: 8px;
}

#tabovi
{
  margin-left: 450px;
}
