<div id="faq">
<br><br>
  <mdb-accordion id="zafaq" [flush]="true">
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Mogu li platiti karticom prilikom preuzimanja paketa?</ng-template>
      <ng-template mdbAccordionItemBody>
        Jedini način plaćanja prilikom preuzimanja paketa je gotovinom.
      </ng-template>
    </mdb-accordion-item>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Nose li dostavljači paket do mog stana?</ng-template>
      <ng-template mdbAccordionItemBody>
        Dostava se vrši do ulaza u stambeni objekt željene adrese. Ukoliko se radi o stambenoj zgradi,
        dostavljači nisu dužni nositi paket do kata na kojem se nalazi kupac.
      </ng-template>
    </mdb-accordion-item>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Kroz koliko vremena će mi stići dostava i hoće li me neko kontaktirati prije dostave?</ng-template>
      <ng-template mdbAccordionItemBody>
        Narudžbe zaprimljene radnim danom do 12h bit će najčešće poslane u roku 24h, a dostavljene u roku 1-3
        radna dana, osim ako na stranici proizvoda nije drugačije naznačeno (rok isporuke). Za narudžbe na udaljene otoke
        ili izolirana mjesta dostava u pravilu traje nešto duže (3-5 radnih dana). Čim se paket pošalje na vašu adresu,
        zaprimit ćete e-mail i SMS obavijest. Dostavljač nije obavezan kontaktirati vas netom prije same dostave, ali se možete,
        nakon zaprimljene obavijesti da je paket poslan, javiti u dostavnu službu i dogovoriti se s njima za vrijeme isporuke.
      </ng-template>
    </mdb-accordion-item>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Gdje mogu pratiti pošiljku nakon što ju pošaljete?</ng-template>
      <ng-template mdbAccordionItemBody>
        Nakon što paket pošaljemo primit ćete obavijest „Vaš paket je poslan“ na email u kojem će biti link za praćenje statusa pošiljke.
      </ng-template>
    </mdb-accordion-item>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Šta ako ne budem na adresi kada mi dođe dostavljač?</ng-template>
      <ng-template mdbAccordionItemBody>
        Dostavljač će, u slučaju kad nema nikoga kod kuće ko može preuzeti paket, ostaviti obavijest u vašem sandučiću
        kako biste se mogli javiti povratno za dogovor za novu isporuku paketa. U svakom trenutku možete provjeriti
        status vaše pošiljke putem linka koji smo vam poslali u emailu u obavijesti da je paket poslan na vašu adresu.
      </ng-template>
    </mdb-accordion-item>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Mogu li zamijeniti proizvod za neki drugi?</ng-template>
      <ng-template mdbAccordionItemBody>
        U roku 14 dana od preuzimanja proizvoda, ako proizvod koji ste zaprimili nije otvoren niti korišten na bilo koji način, zaprimljeni proizvod možete zamijeniti za neki drugi.
      </ng-template>
    </mdb-accordion-item>
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Mogu li staviti adresu za dostavu u poštu pa onda pokupim kad stignem?</ng-template>
      <ng-template mdbAccordionItemBody>
        Pakete ne dostavljamo u poštu, već isključivo na vašu adresu putem X Express i EuroExpress dostavnih službi.
        </ng-template>
    </mdb-accordion-item>
  </mdb-accordion>
  <div class="vr"></div>
  <div id="info">
    <img src="assets/helpicon.png">
    <div style="margin-top: 30px">
    <p style="color: #ff855e; font-weight: bold; font-size: 4.5mm; border-bottom: 1px solid #b0b0b0">Pomoć pri kupnji</p>
    <p>fitvision@example.com</p>
    </div>
  </div>
</div>

